@font-face {
    font-family: "Archangelsk Regular";
    src: url("/fonts/Archangelsk-Regular.ttf") format("truetype");
}
:root {
    --color1: #F8F200;
    --color2: #52BEDC;
}
header {
    justify-content: center;
}
.landing-block {
    background-image: url(../img/bgimg.jpg);
    background-size: cover;
    background-position: 50% center;
    background-repeat: no-repeat;
    max-height: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.main-logo {
    max-height: 74px;
    max-width: 296px;
}
.social-logo {
    display: block;
    max-width: 30px;
    max-height: 30px;
}
.social-wrapper {
    display: flex;
    gap: 40px;
}
.yellow_block-wrapper {
    margin-top: auto;
}
.yellow_block {
    max-width: 624px;
    max-height: 369px;
    padding: 70px;
    background-color: var(--color1);
    position: relative;
    clip-path: polygon(10% 0%, 100% 0%, 100% 85%, 90% 100%, 0% 100%, 0% 15%);
}

.h1-title {
    font-family: "Archangelsk Regular";
    font-size: 62px;
    font-weight: 400;
}
.button-main {
    padding: 19px 50px 19px 50px;
    border-radius: 0;
    font-family: "Roboto Light", sans-serif;
    color: var(--color1);
    font-size: 24px;
    font-weight: 700;

}

@media (max-width: 572px) {
    .yellow_block {
        padding: 38px;
    }
    .button-main {
        font-size: 20px;
        padding: 10px 50px 10px 50px;
        white-space: nowrap;
    }
    .yellow_block {
        margin-bottom: -35px;
    }
}
@media (max-width: 991px) {
    .social-wrapper {
        gap: 28px;
        justify-content: center;
    }
    .social-logo {
        max-width: 25px;
        max-height: 25px;
    }
    .main-logo {
        max-height: 50px;
        max-width: 200px;
    }
    .main_img-wrapper {
        text-align: center;
    }
    .h1-title {
        font-size: 30px;
    }
}